.advantage {
  position: relative;

  &::after {
    content: "II";
    position: absolute;
    top: 0;
    left: calc(50% + 555px);
    @include font-playfair;
    font-size: 37rem;
    line-height: 46.3rem;
    color: $color-white-2xl;
    opacity: 0.02;
    transform: translateX(-50%);

    @media screen and (max-width: $media-desktop) {
      content: "";
    }
  }
  
  &__wrapper {
    padding-top: 12rem;
    padding-bottom: 12rem;
    justify-content: center;

    @media screen and (max-width: 485px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5rem;
    max-width: 90rem;
    width: 100%;

    @media screen and (max-width: 710px) {
      max-width: 52rem;
    }

    @media screen and (max-width: 435px) {
      max-width: 20rem;
      justify-content: center;
    }
  }

  &__item {
    padding-top: 13.3rem;
    flex-basis: 19.4rem;
    @include font-roboto;
    font-size: 2rem;
    line-height: 2.7rem;
    text-align: center;
    color: $color-white-2xl;
    background-position: top center;
    background-repeat: no-repeat;

    @media screen and (max-width: 710px) {
      padding-top: 10.3rem;
    }

    &:first-child {
      background-image: url("../image/icons/bench.svg");
    }

    &:nth-child(2) {
      background-image: url("../image/icons/building.svg");
    }

    &:nth-child(3) {
      flex-basis: 13.4rem;
      background-image: url("../image/icons/fountain.svg");
    }

    &:last-child {
      flex-basis: 13.4rem;
      background-image: url("../image/icons/bicycle.svg");
    }
  }
}