//colors
$color-primary: #242B33;
$color-accent: #D4C17F;
$color-white-2xl: #FFFFFF;
$color-grey: #BEBEBE;
$color-blackout: rgba(41, 41, 41, 0.6);

$gradient-top: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);

//fonts
@mixin font-logo {
  font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
}

@mixin font-playfair {
  font-family: 'Playfair', serif;
  font-weight: 700;
}

@mixin font-raleway($weight) {
  font-family: 'Raleway', sans-serif;
  font-weight: $weight;
}

@mixin font-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

//media
$media-desktop: 1280px;
$media-tablet: 768px;
$media-mobile: 320px;