//colors
$color-primary: #242B33;
$color-accent: #D4C17F;
$color-white-2xl: #FFFFFF;
$color-placeholder: #BEBEBE;
$color-blackout: rgba(41, 41, 41, 0.6);
$color-input: rgba(255, 255, 255, 0.2);

$gradient-top: linear-gradient(180deg, $color-primary 11.98%, rgba(45, 52, 60, 0.38) 51.04%, $color-primary 92.19%);
$gradient-card: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, $color-primary 100%);
$gradient-feedback: linear-gradient(180deg, $color-primary 10.42%, rgba(36, 43, 51, 0) 50.52%, $color-primary 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
$gradient-video: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8));

//fonts
@mixin font-logo {
  font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
}

@mixin font-playfair {
  font-family: 'Playfair', serif;
  font-weight: 700;
}

@mixin font-raleway($weight) {
  font-family: 'Raleway', sans-serif;
  font-weight: $weight;
}

@mixin font-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

//media
$media-desktop: 1280px;
$media-tablet: 768px;
$media-mobile: 320px;